---
import Layout from "../components/Layout.astro";
import Navbar from "../components/Navbar.astro";
---
<Layout title="Adventure">
  <Navbar slot="navbar" />
  <h1 class="text-3xl font-bold mb-4">Adventure</h1>
  <p class="text-lg">Former Extended Wilderness Trip Leader for the Chewonki Foundation and Summit Intern at Mount Washington Observatory...</p>
</Layout>
