---
import Layout from "../components/Layout.astro";
import Navbar from "../components/Navbar.astro";
---
<Layout title="Travel">
  <Navbar slot="navbar" />
  <h1 class="text-3xl font-bold mb-4">Travel</h1>
  <p class="text-lg">From New England to the Intermountain West, my career and personal life have taken me across diverse landscapes...</p>
</Layout>
